In [1]:
import pandas as pd

In [7]:
randPeople = pd.read_csv('dummyData/randomPeople.csv')

print(randPeople.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  100 non-null    object
 1   Last Name   100 non-null    object
 2   Number      100 non-null    int64
 3   Address     100 non-null    object
dtypes: int64(1), object(3)
memory usage: 3.2+ KB
None

In [18]:
userID = [i for i in range(100)]

randPeople['userID'] = userID

print(randPeople)

   First Name Last Name      Number     Address  userID
0      George   Chapman  9738616977  y2bgjhk4cq       0
1      Carlos     Casey  8005416664  1okbjeld21       1
2     Arianna   Stewart  1110792507  23qde0tpis       2
3        Tess      West  1420451092  xd7pzzu2gf       3
4      Carlos  Sullivan  8312688916  lrhidf6e2i       4
..        ...       ...         ...         ...     ...
95       Maya      Reed  9900488343  7v5c6udu5v      95
96  Alexander    Rogers  9207755780  n75lwjduuv      96
97    Jessica    Barnes  3921213963  bxvmttipgd      97
98       Kate  Morrison  3478483688  ffkft5c8wp      98
99      April     Riley  1437934984  kf93ue4w6u      99

[100 rows x 5 columns]

In [49]:
import random

orderSample = []

pizza = pd.read_csv('pizza.csv', sep=';', index_col=0)

# Get 100 samples of pizza order, with 70% ordering 1 pizza, 30% ordering 2 pizzas
numberPizza = ['one', 'two']
temp = random.choices(numberPizza, weights=(70, 30), k=100)

for i in temp:
    if i == 'one':
        orderSample.append(pizza['pizzaName'].sample(n=1).values[0])
    if i == 'two':
        orderSample.append(list([pizza['pizzaName'].sample(n=1).values[0], pizza['pizzaName'].sample(n=1).values[0]]))

In [64]:
list([pizza['pizzaName'].sample(n=1).values[0], pizza['pizzaName'].sample(n=1).values[0]])

['BBQ Steak and Chicken Flatbread', 'Chicken Sizzler']

In [62]:
randPeople['order'] = orderSample

randPeople

,First Name,Last Name,Number,Address,userID,order
0,George,Chapman,9738616977,y2bgjhk4cq,0,BBQ Meat Feast
1,Carlos,Casey,8005416664,1okbjeld21,1,Vegan Margherita
2,Arianna,Stewart,1110792507,23qde0tpis,2,Vegan Margherita
3,Tess,West,1420451092,xd7pzzu2gf,3,Supreme
4,Carlos,Sullivan,8312688916,lrhidf6e2i,4,Vegan Margherita
...,...,...,...,...,...,...
95,Maya,Reed,9900488343,7v5c6udu5v,95,Vegan Veg Sizzler
96,Alexander,Rogers,9207755780,n75lwjduuv,96,Chicken Supreme
97,Jessica,Barnes,3921213963,bxvmttipgd,97,BBQ Meat Feast
98,Kate,Morrison,3478483688,ffkft5c8wp,98,Margherita
99,April,Riley,1437934984,kf93ue4w6u,99,Loaded Pepperoni Feast with Triple Cheese Blend